.calculator{
    width: 25%;
}

.result{
    width: 100%;
    text-align: right;
    background-color: black;
    color:white;
    height: 40px;
    margin-bottom: 5px;

}

.calc-row{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: .5%
}
.calc-button{
    width: 24.5%;
    background-color: #d8d9db;
    color:black;
    height: 50px;
}

.c-button{
    width: 49.5%;
}

.cero-button{
    width:75% ;
}